# DATA CLEANING FOR TOURIST DATA IN KYOTO 2019/10/10

Goals of this document:
divide the dataset into different segments according to ios/Android and date

### 1. Basic information of the whole data

In [9]:
import pandas as pd

In [7]:
data = pd.read_csv('aky_gps_201809_201902.csv')

In [52]:
print(data.head())
print("data volume",len(data))

      index              aid                               uid  \
0  11569572  ARUKUMACHIKYOTO  e866f6028d614783a7c7bbde2e5bf324
1  11569573  ARUKUMACHIKYOTO  e35bbe4b6b23490087f8b34e3eeeaab4
2  11569574  ARUKUMACHIKYOTO  0786227f20db48c29b484bf47d38203f
3  11569575  ARUKUMACHIKYOTO  FDDAC906671F40A28986C9B19D887E3F
4  11569576  ARUKUMACHIKYOTO  8484d5ae1d11447699983b12a6dc0df4

                       uptime                                  pos      cd1  \
0  2018-09-01 00:00:00.893739             (34.9985301,135.7270332)  Android
1  2018-09-01 00:00:01.160698             (39.7225388,140.1076999)  Android
2  2018-09-01 00:00:02.445708             (34.9803916,135.7067892)  Android
3  2018-09-01 00:00:03.976715  (35.0019141942008,138.489014311461)      iOS
4  2018-09-01 00:00:04.054839             (35.0519931,135.7698738)  Android

     cd2     cd3  cd4  cd5  ...  cd7  cd8  cd9  cd10  year month day hour  \
0  ja_JP  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
1  ja_JP  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
2  ja_JP  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
3  ja_JP  3.0.38  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
4  ja_JP  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00

  minute     second
0     00  00.893739
1     00  01.160698
2     00  02.445708
3     00  03.976715
4     00  04.054839

[5 rows x 21 columns]
data volume 14432814

Description of the dataset:

DataID: aid
UserID: uid, represent the model-specific number
Time: uptime
Latitude & Longitude: pos
OS: cd1
Nationality: cd2
App version: cd3

Data volume: 14432814

In [16]:
# using crosstab, the basic statistical feature can be seen
pd.crosstab(data.aid, data.cd1)

cd1              Android      iOS
aid
ARUKUMACHIKYOTO  4722898  9709916

In [19]:
# list all the unique values in the data column
data.cd1.unique()

array(['Android', 'iOS'], dtype=object)

In [49]:
# get numbers of unique values and numbers of values for each unique value
s = pd.value_counts(data.uid)
s1 = pd.Series({'unique': len(s), 'unique values': s.index.tolist()})
s.append(s1)
print(s)

87E960BB4B7C40C5B98EC16308284570    11931
6642E9327B7640F6A264C3E2CE2A0107    11902
C26A06E7AB7C4AB795379F6FFB2C2A77    11658
AD71A8D94FAB4499BC303FFAE320A019    10472
6BEC378D4D5B4752A4A7BA4A02B64A1B     9932
A4031E921AC540AE8DD3C015CFBB5850     9816
EB8F47C359C4408895A24CC1B80378E0     9801
D642A93E2384473895C7B1A84A779E15     9666
3180C7C271DE4FBD96474CA913CE996E     9121
F9D8B2C853BC46DB9B51B30B472DBC43     9053
35928250C5B14ECBB6858CC66370BC64     8726
016127C8BE474AB7B900A8589DA7CB64     8574
6DFBB08DC2A8420C8353E5BB09F8CD71     8546
CC4D822813A0468EA9B91F78F388A37C     8529
04102C7B3720430C91F5F273DC3BD51B     8415
CB3C0B6EE13447108EBBD21760528CF8     8208
E78703688BD049EE9DE3214B7C7EA115     7937
70C0280CE40B444DB748FB3CE4578137     7834
C37AB65F76AF4C258FD4277B2D118231     7831
9E9B232D39BF4421994615BD144FE025     7798
ADC7A38F89CF4BF5A82FD248271EFE22     7478
7FF990884901406091D617E03498D6EF     7191
BC9538CF808943EAB522624A14E37B86     7007
ACFF2B7E5B894A2EB1668DB6BE214BA1     6972
E9DEC552F84746D8993C3E2AE2119B86     6865
F07D5A4702EA40D982041251ACA8ED92     6653
AE54792AB6EB4A2A8C9593842AB911CE     6605
A928185FE117420DAB0E841D6EB96452     6484
89C16BACB50543EDB718E0D32C5B1CBB     6483
A37672761ECC4C04A4FF68798F5766AE     6411
                                    ...
A4FC65EE9C9F43B1A90653AC1A013758        1
E81AE842342744A1A50B5A32779CDBB9        1
ffb6cbb4d1334734ad291b7d4a30f2ab        1
0D8E32CBA8BF47CA88F71D31D23D460F        1
9ED487E5AD4A4F74881E066052BCE226        1
E2CEADF9E90F4269AFA4CA088E7F7233        1
3D15440A71734546A4FD323FCE068309        1
7122DCB1ABBF44E1919B28D0F7043307        1
199D35EB0A504114B98AF40C49CCE2E1        1
D77CE72276B645D886D7A99145FB7E4F        1
cbd84ab074394b25a4d9461ed82bcf73        1
6900A12AD8144703A07FA562433C2C55        1
3C248B1A045046AAA05B77FF0C5BBDDA        1
fe067d8ea9f84d69ad63beda9c295f92        1
1D1641C3521F4E18AE91800C9AF10809        1
13AAC4C0BF7E43B18591BDA908C5DE6C        1
04EB6B0010DC43568F0091ABBA8180DF        1
0832AA0B6DBD4C6D839B92860A1AF726        1
5FCB42F587834CCA951613DF3B509F69        1
3B46F236F9614B94BFDEAAEA0A23DA90        1
4c2ef606c5d540bd8d5caf462308be4a        1
63642A488E4F4AD9935278B0C94CC6CF        1
B5869D8E58074D5D807FE8451995C898        1
47aeb4218fe742aba40dcc16afac840f        1
DEA18139FAC74059AEBDFDEBF4717183        1
784A5EB5CF9442D0BD87130637CFB97D        1
6CB0CBD13B25499FA60F547CCD6E46DC        1
421E232C69C84EEAAA8ED00C6BCA0345        1
22A7079CE2FE4B2FBBA8CB9F425A8E3E        1
0dd3e32432bf4a22b96ab2cbe76a1a14        1
Name: uid, Length: 38742, dtype: int64

Number of userID: 38742

In [39]:
# seperate the date into "year", "month" and "day", n set to 2, means that the first 2 "-" is seperated
date = timeStore[0].str.split("-", n = 2, expand = True)
time = timeStore[1].str.split(":", n = 2, expand = True)
print(date.head())
print(time.head())

      0   1   2
0  2018  09  01
1  2018  09  01
2  2018  09  01
3  2018  09  01
4  2018  09  01
    0   1          2
0  00  00  00.893739
1  00  00  01.160698
2  00  00  02.445708
3  00  00  03.976715
4  00  00  04.054839

In [40]:
# add seperated columns to the data frame
data["year"] = date[0]
data["month"] = date[1]
data["day"] = date[2]
data["hour"] = time[0]
data["minute"] = time[1]
data["second"] = time[2]
print(data.head())

      index              aid                               uid  \
0  11569572  ARUKUMACHIKYOTO  e866f6028d614783a7c7bbde2e5bf324
1  11569573  ARUKUMACHIKYOTO  e35bbe4b6b23490087f8b34e3eeeaab4
2  11569574  ARUKUMACHIKYOTO  0786227f20db48c29b484bf47d38203f
3  11569575  ARUKUMACHIKYOTO  FDDAC906671F40A28986C9B19D887E3F
4  11569576  ARUKUMACHIKYOTO  8484d5ae1d11447699983b12a6dc0df4

                       uptime                                  pos      cd1  \
0  2018-09-01 00:00:00.893739             (34.9985301,135.7270332)  Android
1  2018-09-01 00:00:01.160698             (39.7225388,140.1076999)  Android
2  2018-09-01 00:00:02.445708             (34.9803916,135.7067892)  Android
3  2018-09-01 00:00:03.976715  (35.0019141942008,138.489014311461)      iOS
4  2018-09-01 00:00:04.054839             (35.0519931,135.7698738)  Android

     cd2     cd3  cd4  cd5  ...  cd7  cd8  cd9  cd10  year month day hour  \
0  ja_JP  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
1  ja_JP  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
2  ja_JP  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
3  ja_JP  3.0.38  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
4  ja_JP  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00

  minute     second
0     00  00.893739
1     00  01.160698
2     00  02.445708
3     00  03.976715
4     00  04.054839

[5 rows x 21 columns]

### 2. seperate the dataset according to iOS/Android

In [109]:
# select the data according to the value in the column
is_ios = data['cd1'] == 'iOS'
is_android = data['cd1'] == 'Android'
print(is_ios.head())
print(is_android.head())
# filter rows for OS type is iOS using the boolean variable
data_ios = data[is_ios].copy()
data_android = data[is_android].copy()
print(data.shape)
print(data_ios.shape)
print(data_android.shape)

0    False
1    False
2    False
3     True
4    False
Name: cd1, dtype: bool
0     True
1     True
2     True
3    False
4     True
Name: cd1, dtype: bool
(14432814, 23)
(9709916, 23)
(4722898, 23)

In [43]:
#print the head of the filtered data (ios / android)
print('Data filtered iOS: ')
print(data_ios.head())
print('Data filtered Android: ')
print(data_android.head())

Data filtered iOS:
       index              aid                               uid  \
3   11569575  ARUKUMACHIKYOTO  FDDAC906671F40A28986C9B19D887E3F
7   11569579  ARUKUMACHIKYOTO  32745EE879D949C9BE0EBAD749AEB186
9   11569581  ARUKUMACHIKYOTO  279B8A3FFB9B4C908E074770F5EF6770
14  11569587  ARUKUMACHIKYOTO  2B58CA817B964169A8AB777D52E5DC9F
16  11569589  ARUKUMACHIKYOTO  3E2A3C144BA8436CBFED1D6BE03E011A

                        uptime                                  pos  cd1  \
3   2018-09-01 00:00:03.976715  (35.0019141942008,138.489014311461)  iOS
7   2018-09-01 00:00:07.965248  (34.9942979335641,135.765224724616)  iOS
9   2018-09-01 00:00:11.399308   (33.2968681492525,131.48625340308)  iOS
14  2018-09-01 00:00:24.712742  (35.0463042304561,137.140189365281)  iOS
16  2018-09-01 00:00:31.076658  (35.8602749519223,139.655075927717)  iOS

      cd2     cd3  cd4  cd5  ...  cd7  cd8  cd9  cd10  year month day hour  \
3   ja_JP  3.0.38  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
7   en_US  3.0.38  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
9   ja_JP  3.0.38  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
14  ja_JP  3.0.38  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00
16  ja_JP  3.0.38  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00

   minute     second
3      00  03.976715
7      00  07.965248
9      00  11.399308
14     00  24.712742
16     00  31.076658

[5 rows x 21 columns]
Data filtered Android:
      index              aid                               uid  \
0  11569572  ARUKUMACHIKYOTO  e866f6028d614783a7c7bbde2e5bf324
1  11569573  ARUKUMACHIKYOTO  e35bbe4b6b23490087f8b34e3eeeaab4
2  11569574  ARUKUMACHIKYOTO  0786227f20db48c29b484bf47d38203f
4  11569576  ARUKUMACHIKYOTO  8484d5ae1d11447699983b12a6dc0df4
5  11569577  ARUKUMACHIKYOTO  66acbc093cd94a60ac7cfc4bbba87582

                       uptime                       pos      cd1    cd2  \
0  2018-09-01 00:00:00.893739  (34.9985301,135.7270332)  Android  ja_JP
1  2018-09-01 00:00:01.160698  (39.7225388,140.1076999)  Android  ja_JP
2  2018-09-01 00:00:02.445708  (34.9803916,135.7067892)  Android  ja_JP
4  2018-09-01 00:00:04.054839  (35.0519931,135.7698738)  Android  ja_JP
5  2018-09-01 00:00:04.730331  (34.9736962,135.7020846)  Android  ja_JP

      cd3  cd4  cd5  ...  cd7  cd8  cd9  cd10  year month day hour minute  \
0  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00     00
1  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00     00
2  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00     00
4  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00     00
5  3.0.50  NaN  NaN  ...  NaN  NaN  NaN   NaN  2018    09  01   00     00

      second
0  00.893739
1  01.160698
2  02.445708
4  04.054839
5  04.730331

[5 rows x 21 columns]

### 3. seperate the ios and android data based on "month"

In [111]:
# select the data according to the value in the column
ios_1809 = (data_ios['month'] == '09') & (data_ios['year'] == '2018')
ios_1810 = (data_ios['month'] == '10') & (data_ios['year'] == '2018')
ios_1811 = (data_ios['month'] == '11') & (data_ios['year'] == '2018')
ios_1812 = (data_ios['month'] == '12') & (data_ios['year'] == '2018')
ios_1901 = (data_ios['month'] == '01') & (data_ios['year'] == '2019')
ios_1902 = (data_ios['month'] == '02') & (data_ios['year'] == '2019')

android_1809 = (data_android['month'] == '09') & (data_android['year'] == '2018')
android_1810 = (data_android['month'] == '10') & (data_android['year'] == '2018')
android_1811 = (data_android['month'] == '11') & (data_android['year'] == '2018')
android_1812 = (data_android['month'] == '12') & (data_android['year'] == '2018')
android_1901 = (data_android['month'] == '01') & (data_android['year'] == '2019')
android_1902 = (data_android['month'] == '02') & (data_android['year'] == '2019')

#is_android = data['cd1'] == 'Android'
print(ios_1809.head())
#print(is_android.head())
# filter rows for OS type is iOS using the boolean variable
data_ios_1809 = data_ios[ios_1809].copy()
data_ios_1810 = data_ios[ios_1810].copy()
data_ios_1811 = data_ios[ios_1811].copy()
data_ios_1812 = data_ios[ios_1812].copy()
data_ios_1901 = data_ios[ios_1901].copy()
data_ios_1902 = data_ios[ios_1902].copy()

data_android_1809 = data_android[android_1809].copy()
data_android_1810 = data_android[android_1810].copy()
data_android_1811 = data_android[android_1811].copy()
data_android_1812 = data_android[android_1812].copy()
data_android_1901 = data_android[android_1901].copy()
data_android_1902 = data_android[android_1902].copy()

# print the shape of data
print(data_ios_1809.shape)
print(data_ios_1810.shape)
print(data_ios_1811.shape)
print(data_ios_1812.shape)
print(data_ios_1901.shape)
print(data_ios_1902.shape)

print(data_android_1809.shape)
print(data_android_1810.shape)
print(data_android_1811.shape)
print(data_android_1812.shape)
print(data_android_1901.shape)
print(data_android_1902.shape)

3     True
7     True
9     True
14    True
16    True
dtype: bool
(1167253, 23)
(1510226, 23)
(1716599, 23)
(1760904, 23)
(1773276, 23)
(1781658, 23)
(625652, 23)
(726794, 23)
(832810, 23)
(862175, 23)
(858370, 23)
(817097, 23)

### 4. Add 'dataVolume' and 'IDvolume' to each data file

In [104]:
# add 'dataVolume' and 'IDvolume' to the data frame
# to "data"
data['dataVolume'] = pd.Series(len(data), index=data.index[[0]])
data['dataVolume'] = data['dataVolume'].fillna('')
data['IDvolume'] = pd.Series(len(s), index=data.index[[0]])
data['IDvolume'] = data['IDvolume'].fillna('')
print(data.head())

      index              aid                               uid  \
0  11569572  ARUKUMACHIKYOTO  e866f6028d614783a7c7bbde2e5bf324
1  11569573  ARUKUMACHIKYOTO  e35bbe4b6b23490087f8b34e3eeeaab4
2  11569574  ARUKUMACHIKYOTO  0786227f20db48c29b484bf47d38203f
3  11569575  ARUKUMACHIKYOTO  FDDAC906671F40A28986C9B19D887E3F
4  11569576  ARUKUMACHIKYOTO  8484d5ae1d11447699983b12a6dc0df4

                       uptime                                  pos      cd1  \
0  2018-09-01 00:00:00.893739             (34.9985301,135.7270332)  Android
1  2018-09-01 00:00:01.160698             (39.7225388,140.1076999)  Android
2  2018-09-01 00:00:02.445708             (34.9803916,135.7067892)  Android
3  2018-09-01 00:00:03.976715  (35.0019141942008,138.489014311461)      iOS
4  2018-09-01 00:00:04.054839             (35.0519931,135.7698738)  Android

     cd2     cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour minute  \
0  ja_JP  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
1  ja_JP  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
2  ja_JP  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
3  ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
4  ja_JP  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00

      second   dataVolume IDvolume
0  00.893739  1.44328e+07    38742
1  01.160698
2  02.445708
3  03.976715
4  04.054839

[5 rows x 23 columns]

In [112]:
# to "data_ios" and "data_android"

#get the all of the unique value of userID
s1 = pd.value_counts(data_ios.uid)
s2 = pd.value_counts(data_android.uid)

data_ios['dataVolume'] = pd.Series(len(data_ios), index=data_ios.index[[0]]).copy()
data_ios['dataVolume'] = data_ios['dataVolume'].fillna('')
data_ios['IDvolume'] = pd.Series(len(s1), index=data_ios.index[[0]]).copy()
data_ios['IDvolume'] = data_ios['IDvolume'].fillna('')
print("IOS DATA: ", data_ios.head())

data_android['dataVolume'] = pd.Series(len(data_android), index=data_android.index[[0]]).copy()
data_android['dataVolume'] = data_android['dataVolume'].fillna('')
data_android['IDvolume'] = pd.Series(len(s1), index=data_android.index[[0]]).copy()
data_android['IDvolume'] = data_android['IDvolume'].fillna('')
print("ANDROID DATA: ", data_android.head())

IOS DATA:         index              aid                               uid  \
3   11569575  ARUKUMACHIKYOTO  FDDAC906671F40A28986C9B19D887E3F
7   11569579  ARUKUMACHIKYOTO  32745EE879D949C9BE0EBAD749AEB186
9   11569581  ARUKUMACHIKYOTO  279B8A3FFB9B4C908E074770F5EF6770
14  11569587  ARUKUMACHIKYOTO  2B58CA817B964169A8AB777D52E5DC9F
16  11569589  ARUKUMACHIKYOTO  3E2A3C144BA8436CBFED1D6BE03E011A

                        uptime                                  pos  cd1  \
3   2018-09-01 00:00:03.976715  (35.0019141942008,138.489014311461)  iOS
7   2018-09-01 00:00:07.965248  (34.9942979335641,135.765224724616)  iOS
9   2018-09-01 00:00:11.399308   (33.2968681492525,131.48625340308)  iOS
14  2018-09-01 00:00:24.712742  (35.0463042304561,137.140189365281)  iOS
16  2018-09-01 00:00:31.076658  (35.8602749519223,139.655075927717)  iOS

      cd2     cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour minute  \
3   ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
7   en_US  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
9   ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
14  ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
16  ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00

       second   dataVolume IDvolume
3   03.976715  9.70992e+06    24732
7   07.965248
9   11.399308
14  24.712742
16  31.076658

[5 rows x 23 columns]
ANDROID DATA:        index              aid                               uid  \
0  11569572  ARUKUMACHIKYOTO  e866f6028d614783a7c7bbde2e5bf324
1  11569573  ARUKUMACHIKYOTO  e35bbe4b6b23490087f8b34e3eeeaab4
2  11569574  ARUKUMACHIKYOTO  0786227f20db48c29b484bf47d38203f
4  11569576  ARUKUMACHIKYOTO  8484d5ae1d11447699983b12a6dc0df4
5  11569577  ARUKUMACHIKYOTO  66acbc093cd94a60ac7cfc4bbba87582

                       uptime                       pos      cd1    cd2  \
0  2018-09-01 00:00:00.893739  (34.9985301,135.7270332)  Android  ja_JP
1  2018-09-01 00:00:01.160698  (39.7225388,140.1076999)  Android  ja_JP
2  2018-09-01 00:00:02.445708  (34.9803916,135.7067892)  Android  ja_JP
4  2018-09-01 00:00:04.054839  (35.0519931,135.7698738)  Android  ja_JP
5  2018-09-01 00:00:04.730331  (34.9736962,135.7020846)  Android  ja_JP

      cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour minute     second  \
0  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  00.893739
1  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  01.160698
2  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  02.445708
4  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  04.054839
5  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  04.730331

   dataVolume IDvolume
0  4.7229e+06    24732
1
2
4
5

[5 rows x 23 columns]

In [113]:
# to data for each month and ios/android

#get the all of the unique value of userID
s3 = pd.value_counts(data_ios_1809.uid)
s4 = pd.value_counts(data_ios_1810.uid)
s5 = pd.value_counts(data_ios_1811.uid)
s6 = pd.value_counts(data_ios_1812.uid)
s7 = pd.value_counts(data_ios_1901.uid)
s8 = pd.value_counts(data_ios_1902.uid)

s9 = pd.value_counts(data_android_1809.uid)
s10 = pd.value_counts(data_android_1810.uid)
s11 = pd.value_counts(data_android_1811.uid)
s12 = pd.value_counts(data_android_1812.uid)
s13 = pd.value_counts(data_android_1901.uid)

#### Data for each month 2018.09 - 2019.02 (6 months)

In [117]:
# 2018.09 IOS
data_ios_1809['dataVolume'] = pd.Series(len(data_ios_1809), index=data_ios_1809.index[[0]]).copy()
data_ios_1809['dataVolume'] = data_ios_1809['dataVolume'].fillna('')
data_ios_1809['IDvolume'] = pd.Series(len(s3), index=data_ios_1809.index[[0]]).copy()
data_ios_1809['IDvolume'] = data_ios_1809['IDvolume'].fillna('')
print("IOS 2018. 09: ")
print(data_ios_1809.head())

IOS 2018. 09:
       index              aid                               uid  \
3   11569575  ARUKUMACHIKYOTO  FDDAC906671F40A28986C9B19D887E3F
7   11569579  ARUKUMACHIKYOTO  32745EE879D949C9BE0EBAD749AEB186
9   11569581  ARUKUMACHIKYOTO  279B8A3FFB9B4C908E074770F5EF6770
14  11569587  ARUKUMACHIKYOTO  2B58CA817B964169A8AB777D52E5DC9F
16  11569589  ARUKUMACHIKYOTO  3E2A3C144BA8436CBFED1D6BE03E011A

                        uptime                                  pos  cd1  \
3   2018-09-01 00:00:03.976715  (35.0019141942008,138.489014311461)  iOS
7   2018-09-01 00:00:07.965248  (34.9942979335641,135.765224724616)  iOS
9   2018-09-01 00:00:11.399308   (33.2968681492525,131.48625340308)  iOS
14  2018-09-01 00:00:24.712742  (35.0463042304561,137.140189365281)  iOS
16  2018-09-01 00:00:31.076658  (35.8602749519223,139.655075927717)  iOS

      cd2     cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour minute  \
3   ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
7   en_US  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
9   ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
14  ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00
16  ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00

       second   dataVolume IDvolume
3   03.976715  1.16725e+06     7867
7   07.965248
9   11.399308
14  24.712742
16  31.076658

[5 rows x 23 columns]

In [116]:
# 2018.10 IOS
data_ios_1810['dataVolume'] = pd.Series(len(data_ios_1810), index=data_ios_1810.index[[0]]).copy()
data_ios_1810['dataVolume'] = data_ios_1810['dataVolume'].fillna('')
data_ios_1810['IDvolume'] = pd.Series(len(s4), index=data_ios_1810.index[[0]]).copy()
data_ios_1810['IDvolume'] = data_ios_1810['IDvolume'].fillna('')
print("IOS 2018.10: ")
print(data_ios_1810.head())

IOS 2018.10:
            index              aid                               uid  \
1792908  14064556  ARUKUMACHIKYOTO  506D8E7E802E4E36B936E12FEFAA0FE4
1792919  14064576  ARUKUMACHIKYOTO  2BCEAB2173894F0D83FF476AC3C33024
1792920  14064579  ARUKUMACHIKYOTO  2BCEAB2173894F0D83FF476AC3C33024
1792921  14064580  ARUKUMACHIKYOTO  828D8FF865EE4F2E9F671A0258EA6719
1792924  14064584  ARUKUMACHIKYOTO  2BCEAB2173894F0D83FF476AC3C33024

                             uptime                                  pos  cd1  \
1792908  2018-10-01 00:00:03.372633  (36.9823661807598,138.824641351888)  iOS
1792919  2018-10-01 00:00:38.819675  (35.0255068950681,135.730428462974)  iOS
1792920  2018-10-01 00:00:45.959289  (35.0255068950681,135.730428462974)  iOS
1792921  2018-10-01 00:00:46.818657   (43.805409105147,125.306854174876)  iOS
1792924  2018-10-01 00:00:49.658822  (35.0255068950681,135.730428462974)  iOS

           cd2     cd3     cd4      cd5  ...  cd9  cd10  year  month  day  \
1792908  ja_JP  3.0.38     NaN      NaN  ...  NaN   NaN  2018     10   01
1792919  ja_JP  3.0.38  SCREEN  時刻表・構内図  ...  NaN   NaN  2018     10   01
1792920  ja_JP  3.0.38  SCREEN   ルートマップ  ...  NaN   NaN  2018     10   01
1792921  ja_JP  3.0.38     NaN      NaN  ...  NaN   NaN  2018     10   01
1792924  ja_JP  3.0.38  SCREEN     HOME  ...  NaN   NaN  2018     10   01

        hour minute     second   dataVolume IDvolume
1792908   00     00  03.372633  1.51023e+06     9400
1792919   00     00  38.819675
1792920   00     00  45.959289
1792921   00     00  46.818657
1792924   00     00  49.658822

[5 rows x 23 columns]

In [118]:
# 2018.11 IOS
data_ios_1811['dataVolume'] = pd.Series(len(data_ios_1811), index=data_ios_1811.index[[0]]).copy()
data_ios_1811['dataVolume'] = data_ios_1811['dataVolume'].fillna('')
data_ios_1811['IDvolume'] = pd.Series(len(s5), index=data_ios_1811.index[[0]]).copy()
data_ios_1811['IDvolume'] = data_ios_1811['IDvolume'].fillna('')
print("IOS 2018.11: ")
print(data_ios_1811.head())

IOS 2018.11:
            index              aid                               uid  \
4029925  17106105  ARUKUMACHIKYOTO  F637D890B362455086A4BBBD2A5B910E
4029930  17106111  ARUKUMACHIKYOTO  62EA1715F6F44AB38794834C2B57D804
4029933  17106114  ARUKUMACHIKYOTO  C9613ABA83AB4112A93220689E5B7BA8
4029938  17106120  ARUKUMACHIKYOTO  9E923B3211944162BE689DFEE2E99D8D
4029939  17106121  ARUKUMACHIKYOTO  C60953484008498E80232CD8B86EF578

                             uptime                                  pos  cd1  \
4029925  2018-11-01 00:00:01.427719  (35.6833843678607,139.766285719263)  iOS
4029930  2018-11-01 00:00:11.021441  (35.6089607095906,139.670857978219)  iOS
4029933  2018-11-01 00:00:14.365188  (35.7061049978456,139.844965951578)  iOS
4029938   2018-11-01 00:00:21.13083  (45.5092858530944,9.15271608203542)  iOS
4029939  2018-11-01 00:00:21.865218  (35.2783393180302,139.680744679667)  iOS

                             cd2     cd3  cd4  cd5  ...  cd9  cd10  year  \
4029925  ja_JP@calendar=japanese  3.0.43  NaN  NaN  ...  NaN   NaN  2018
4029930                    ja_JP  3.0.38  NaN  NaN  ...  NaN   NaN  2018
4029933                    ja_JP  3.0.43  NaN  NaN  ...  NaN   NaN  2018
4029938                    it_IT  3.0.38  NaN  NaN  ...  NaN   NaN  2018
4029939                    ja_JP  3.0.43  NaN  NaN  ...  NaN   NaN  2018

         month  day hour minute     second  dataVolume IDvolume
4029925     11   01   00     00  01.427719  1.7166e+06    10330
4029930     11   01   00     00  11.021441
4029933     11   01   00     00  14.365188
4029938     11   01   00     00   21.13083
4029939     11   01   00     00  21.865218

[5 rows x 23 columns]

In [119]:
# 2018.12 IOS
data_ios_1812['dataVolume'] = pd.Series(len(data_ios_1812), index=data_ios_1812.index[[0]]).copy()
data_ios_1812['dataVolume'] = data_ios_1812['dataVolume'].fillna('')
data_ios_1812['IDvolume'] = pd.Series(len(s6), index=data_ios_1812.index[[0]]).copy()
data_ios_1812['IDvolume'] = data_ios_1812['IDvolume'].fillna('')
print("IOS 2018.12: ")
print(data_ios_1812.head())

IOS 2018.12:
            index              aid                               uid  \
6579335  20513509  ARUKUMACHIKYOTO  FB4A41C873444C8297A122EEB2EBC699
6579336  20513510  ARUKUMACHIKYOTO  ECD5845681224EF7ADBF76F94BC0209A
6579337  20513512  ARUKUMACHIKYOTO  4C5EDABB561143E88DCE7CE2B9AF2D65
6579339  20513517  ARUKUMACHIKYOTO  4C03CDAF084445B2909E1DEE2B2A3378
6579340  20513518  ARUKUMACHIKYOTO  1456D55D13CD400B931D2A055B4CDCA9

                             uptime                                  pos  cd1  \
6579335  2018-12-01 00:00:04.397343   (35.0311122366276,135.78469525172)  iOS
6579336  2018-12-01 00:00:04.397343  (-6.0605354309082,106.112256534496)  iOS
6579337  2018-12-01 00:00:05.069207  (35.7776428021973,139.721151798097)  iOS
6579339  2018-12-01 00:00:08.159426  (22.2798695243949,114.188000544781)  iOS
6579340    2018-12-01 00:00:08.3313    (34.9888717900587,135.7169032945)  iOS

           cd2     cd3     cd4     cd5  ...  cd9  cd10  year  month  day hour  \
6579335  ja_JP  3.0.45     NaN     NaN  ...  NaN   NaN  2018     12   01   00
6579336  en_ID  3.0.45  SCREEN  ルートマップ  ...  NaN   NaN  2018     12   01   00
6579337  ja_JP  3.0.45     NaN     NaN  ...  NaN   NaN  2018     12   01   00
6579339  en_HK  3.0.45     NaN     NaN  ...  NaN   NaN  2018     12   01   00
6579340  ja_JP  3.0.45     NaN     NaN  ...  NaN   NaN  2018     12   01   00

        minute     second  dataVolume IDvolume
6579335     00  04.397343  1.7609e+06     9068
6579336     00  04.397343
6579337     00  05.069207
6579339     00  08.159426
6579340     00    08.3313

[5 rows x 23 columns]

In [120]:
# 2019.01 IOS
data_ios_1901['dataVolume'] = pd.Series(len(data_ios_1901), index=data_ios_1901.index[[0]]).copy()
data_ios_1901['dataVolume'] = data_ios_1901['dataVolume'].fillna('')
data_ios_1901['IDvolume'] = pd.Series(len(s7), index=data_ios_1901.index[[0]]).copy()
data_ios_1901['IDvolume'] = data_ios_1901['IDvolume'].fillna('')
print("IOS 2019.01: ")
print(data_ios_1901.head())

IOS 2019.01:
            index              aid                               uid  \
9202413  24073500  ARUKUMACHIKYOTO  59A61334883148B1A828F66315B99576
9202418  24073505  ARUKUMACHIKYOTO  C15C844C40304BC9845873AC3036D6FE
9202419  24073506  ARUKUMACHIKYOTO  002329008FE549198028678FC912141A
9202423  24073510  ARUKUMACHIKYOTO  89B2F14E2A6B4CB2B08C7939FAA7DDD6
9202424  24073511  ARUKUMACHIKYOTO  428A5658790048088B0FFAB458345FAB

                             uptime                                  pos  cd1  \
9202413  2019-01-01 00:00:01.188406  (35.0219441589723,135.719677395866)  iOS
9202418  2019-01-01 00:00:05.113343  (37.2995103405462,137.152984687982)  iOS
9202419  2019-01-01 00:00:05.810836  (22.4604855154696,114.158499193476)  iOS
9202423  2019-01-01 00:00:12.956302  (35.1953945937486,136.790153626103)  iOS
9202424   2019-01-01 00:00:13.19068  (33.5321934935811,131.322978466718)  iOS

           cd2     cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour  \
9202413  ja_JP  3.0.45  NaN  NaN  ...  NaN   NaN  2019     01   01   00
9202418  ja_JP  3.0.45  NaN  NaN  ...  NaN   NaN  2019     01   01   00
9202419  zh_HK  3.0.45  NaN  NaN  ...  NaN   NaN  2019     01   01   00
9202423  ja_JP  3.0.45  NaN  NaN  ...  NaN   NaN  2019     01   01   00
9202424  ja_JP  3.0.45  NaN  NaN  ...  NaN   NaN  2019     01   01   00

        minute     second   dataVolume IDvolume
9202413     00  01.188406  1.77328e+06     9228
9202418     00  05.113343
9202419     00  05.810836
9202423     00  12.956302
9202424     00   13.19068

[5 rows x 23 columns]

In [121]:
# 2019.02 IOS
data_ios_1902['dataVolume'] = pd.Series(len(data_ios_1902), index=data_ios_1902.index[[0]]).copy()
data_ios_1902['dataVolume'] = data_ios_1902['dataVolume'].fillna('')
data_ios_1902['IDvolume'] = pd.Series(len(s7), index=data_ios_1902.index[[0]]).copy()
data_ios_1902['IDvolume'] = data_ios_1902['IDvolume'].fillna('')
print("IOS 2019.02: ")
print(data_ios_1902.head())

IOS 2019.02:
             index              aid                               uid  \
11834060  27512741  ARUKUMACHIKYOTO  08CD1CA8AB2F4FD49FC1B1B2AE13B45B
11834076  27512760  ARUKUMACHIKYOTO  10AD787AF9494AEC8D7072D83336E8AC
11834079  27512764  ARUKUMACHIKYOTO  D43390EEAB55428098374D707FEE734D
11834083  27512772  ARUKUMACHIKYOTO  26C652B2F32B4D18A028A11CCAA6B41D
11834087  27512779  ARUKUMACHIKYOTO  EEF50E272726414C9C679351DC2DAC3F

                              uptime                                  pos  \
11834060  2019-02-01 00:00:00.671331    (32.48527486723,34.9540694676429)
11834076  2019-02-01 00:00:10.002361  (24.7578054306915,121.052794412228)
11834079  2019-02-01 00:00:12.068382  (35.0405113399355,135.769966403149)
11834083  2019-02-01 00:00:22.918671           (35.02203304,135.78041172)
11834087  2019-02-01 00:00:34.282092  (34.7898119536228,138.052504612305)

          cd1    cd2     cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour  \
11834060  iOS  ja_JP  3.0.45  NaN  NaN  ...  NaN   NaN  2019     02   01   00
11834076  iOS  zh_TW  3.0.45  NaN  NaN  ...  NaN   NaN  2019     02   01   00
11834079  iOS  ja_JP  3.0.45  NaN  NaN  ...  NaN   NaN  2019     02   01   00
11834083  iOS  ja_JP  3.0.45  NaN  NaN  ...  NaN   NaN  2019     02   01   00
11834087  iOS  ja_JP  3.0.45  NaN  NaN  ...  NaN   NaN  2019     02   01   00

         minute     second   dataVolume IDvolume
11834060     00  00.671331  1.78166e+06     9228
11834076     00  10.002361
11834079     00  12.068382
11834083     00  22.918671
11834087     00  34.282092

[5 rows x 23 columns]

In [122]:
# 2018.09 ANDROID
data_android_1809['dataVolume'] = pd.Series(len(data_android_1809), index=data_android_1809.index[[0]]).copy()
data_android_1809['dataVolume'] = data_android_1809['dataVolume'].fillna('')
data_android_1809['IDvolume'] = pd.Series(len(s9), index=data_android_1809.index[[0]]).copy()
data_android_1809['IDvolume'] = data_android_1809['IDvolume'].fillna('')
print("ANDROID 2019.02: ")
print(data_android_1809.head())

ANDROID 2019.02:
      index              aid                               uid  \
0  11569572  ARUKUMACHIKYOTO  e866f6028d614783a7c7bbde2e5bf324
1  11569573  ARUKUMACHIKYOTO  e35bbe4b6b23490087f8b34e3eeeaab4
2  11569574  ARUKUMACHIKYOTO  0786227f20db48c29b484bf47d38203f
4  11569576  ARUKUMACHIKYOTO  8484d5ae1d11447699983b12a6dc0df4
5  11569577  ARUKUMACHIKYOTO  66acbc093cd94a60ac7cfc4bbba87582

                       uptime                       pos      cd1    cd2  \
0  2018-09-01 00:00:00.893739  (34.9985301,135.7270332)  Android  ja_JP
1  2018-09-01 00:00:01.160698  (39.7225388,140.1076999)  Android  ja_JP
2  2018-09-01 00:00:02.445708  (34.9803916,135.7067892)  Android  ja_JP
4  2018-09-01 00:00:04.054839  (35.0519931,135.7698738)  Android  ja_JP
5  2018-09-01 00:00:04.730331  (34.9736962,135.7020846)  Android  ja_JP

      cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour minute     second  \
0  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  00.893739
1  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  01.160698
2  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  02.445708
4  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  04.054839
5  3.0.50  NaN  NaN  ...  NaN   NaN  2018     09   01   00     00  04.730331

  dataVolume IDvolume
0     625652     4358
1
2
4
5

[5 rows x 23 columns]

In [123]:
# 2018.10 ANDROID
data_android_1810['dataVolume'] = pd.Series(len(data_android_1810), index=data_android_1810.index[[0]]).copy()
data_android_1810['dataVolume'] = data_android_1810['dataVolume'].fillna('')
data_android_1810['IDvolume'] = pd.Series(len(s10), index=data_android_1810.index[[0]]).copy()
data_android_1810['IDvolume'] = data_android_1810['IDvolume'].fillna('')
print("ANDROID 2018.10: ")
print(data_android_1810.head())

ANDROID 2018.10:
            index              aid                               uid  \
1792905  14064552  ARUKUMACHIKYOTO  b90451dd32be4895a63a2f67b6b2f2a6
1792906  14064553  ARUKUMACHIKYOTO  26debaf31e1946b8a2259baa38b37928
1792907  14064555  ARUKUMACHIKYOTO  ffaccc7a63cd40ce86efe9973438ef0c
1792909  14064559  ARUKUMACHIKYOTO  2d084c7b12534191960a38dda97cb9ee
1792910  14064560  ARUKUMACHIKYOTO  c6c3364f8425484dad629a821ca543d4

                             uptime                       pos      cd1    cd2  \
1792905  2018-10-01 00:00:01.318764  (35.6926619,139.7847728)  Android  en_GB
1792906  2018-10-01 00:00:01.350013  (35.1359167,136.9710634)  Android  ja_JP
1792907  2018-10-01 00:00:02.466382  (35.0219652,135.7392413)  Android  ja_JP
1792909  2018-10-01 00:00:08.163017  (35.6352935,140.0638553)  Android  ja_JP
1792910  2018-10-01 00:00:12.370329  (35.3814708,136.7951901)  Android  ja_JP

            cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour minute  \
1792905  3.0.50  NaN  NaN  ...  NaN   NaN  2018     10   01   00     00
1792906  3.0.50  NaN  NaN  ...  NaN   NaN  2018     10   01   00     00
1792907  3.0.50  NaN  NaN  ...  NaN   NaN  2018     10   01   00     00
1792909  3.0.50  NaN  NaN  ...  NaN   NaN  2018     10   01   00     00
1792910  3.0.50  NaN  NaN  ...  NaN   NaN  2018     10   01   00     00

            second dataVolume IDvolume
1792905  01.318764     726794     5719
1792906  01.350013
1792907  02.466382
1792909  08.163017
1792910  12.370329

[5 rows x 23 columns]

In [124]:
# 2018.11 ANDROID
data_android_1811['dataVolume'] = pd.Series(len(data_android_1811), index=data_android_1811.index[[0]]).copy()
data_android_1811['dataVolume'] = data_android_1811['dataVolume'].fillna('')
data_android_1811['IDvolume'] = pd.Series(len(s11), index=data_android_1811.index[[0]]).copy()
data_android_1811['IDvolume'] = data_android_1811['IDvolume'].fillna('')
print("ANDROID 2018.11: ")
print(data_android_1811.head())

ANDROID 2018.11:
            index              aid                               uid  \
4029926  17106106  ARUKUMACHIKYOTO  fdcc72793f2a43c2882e760af91f7105
4029927  17106107  ARUKUMACHIKYOTO  b69aac0da25d46d8ad73ce1824c5d79f
4029928  17106109  ARUKUMACHIKYOTO  38cb202fbece4f4597ce272b8f7f6471
4029929  17106110  ARUKUMACHIKYOTO  d1d3c46a12a747dbb2f6922a1403c6bb
4029931  17106112  ARUKUMACHIKYOTO  85b6840288cf42dcae8ea75724bfb19c

                             uptime                       pos      cd1    cd2  \
4029926  2018-11-01 00:00:03.162073  (35.0205541,135.7156094)  Android  ja_JP
4029927  2018-11-01 00:00:04.943312  (35.0075704,135.7685907)  Android  ja_JP
4029928  2018-11-01 00:00:09.771439  (34.9835483,135.7311238)  Android  ja_JP
4029929  2018-11-01 00:00:10.349564  (35.0696164,135.7427706)  Android  ja_JP
4029931  2018-11-01 00:00:13.302687   (35.0550871,135.747522)  Android  ja_JP

            cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour minute  \
4029926  3.0.53  NaN  NaN  ...  NaN   NaN  2018     11   01   00     00
4029927  3.0.53  NaN  NaN  ...  NaN   NaN  2018     11   01   00     00
4029928  3.0.53  NaN  NaN  ...  NaN   NaN  2018     11   01   00     00
4029929  3.0.53  NaN  NaN  ...  NaN   NaN  2018     11   01   00     00
4029931  3.0.53  NaN  NaN  ...  NaN   NaN  2018     11   01   00     00

            second dataVolume IDvolume
4029926  03.162073     832810     6615
4029927  04.943312
4029928  09.771439
4029929  10.349564
4029931  13.302687

[5 rows x 23 columns]

In [125]:
# 2018.12 ANDROID
data_android_1812['dataVolume'] = pd.Series(len(data_android_1812), index=data_android_1812.index[[0]]).copy()
data_android_1812['dataVolume'] = data_android_1812['dataVolume'].fillna('')
data_android_1812['IDvolume'] = pd.Series(len(s12), index=data_android_1812.index[[0]]).copy()
data_android_1812['IDvolume'] = data_android_1812['IDvolume'].fillna('')
print("ANDROID 2018.12: ")
print(data_android_1812.head())

ANDROID 2018.12:
            index              aid                               uid  \
6579334  20513507  ARUKUMACHIKYOTO  c54a65e496614a328a383d0d9894b4c7
6579338  20513516  ARUKUMACHIKYOTO  747419485d6a4da98c668190bbe6ef38
6579342  20513521  ARUKUMACHIKYOTO  9162f5a04adc4523b393bba07647849f
6579345  20513526  ARUKUMACHIKYOTO  9f659efe83e54289a709e602474823a1
6579347  20513529  ARUKUMACHIKYOTO  1ef0e2c90430449fba76c0fc7ba1d48d

                             uptime                       pos      cd1  \
6579334  2018-12-01 00:00:01.663008  (25.1797902,121.4470128)  Android
6579338  2018-12-01 00:00:08.096927  (34.9384613,135.8048744)  Android
6579342  2018-12-01 00:00:10.980923  (35.0155902,135.7291396)  Android
6579345  2018-12-01 00:00:19.120645  (36.0790003,136.2479426)  Android
6579347  2018-12-01 00:00:21.555425  (35.1700043,136.8867346)  Android

            cd2     cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour  \
6579334  zh_TW_     NaN  NaN  NaN  ...  NaN   NaN  2018     12   01   00
6579338   ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2018     12   01   00
6579342   ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2018     12   01   00
6579345   ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2018     12   01   00
6579347   ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2018     12   01   00

        minute     second dataVolume IDvolume
6579334     00  01.663008     862175     6196
6579338     00  08.096927
6579342     00  10.980923
6579345     00  19.120645
6579347     00  21.555425

[5 rows x 23 columns]

In [126]:
# 2019.01 ANDROID
data_android_1901['dataVolume'] = pd.Series(len(data_android_1901), index=data_android_1901.index[[0]]).copy()
data_android_1901['dataVolume'] = data_android_1901['dataVolume'].fillna('')
data_android_1901['IDvolume'] = pd.Series(len(s13), index=data_android_1901.index[[0]]).copy()
data_android_1901['IDvolume'] = data_android_1901['IDvolume'].fillna('')
print("ANDROID 2019.01: ")
print(data_android_1901.head())

ANDROID 2019.01:
            index              aid                               uid  \
9202414  24073501  ARUKUMACHIKYOTO  01184c5000ca4743aa8d15f687e8696a
9202415  24073502  ARUKUMACHIKYOTO  05f3b654436c42bdab0b7da03d158c6e
9202416  24073503  ARUKUMACHIKYOTO  356b7b9c953045b092fef0703a69855e
9202417  24073504  ARUKUMACHIKYOTO  a1a06c388d7c4b6a91581a799aae02f9
9202420  24073507  ARUKUMACHIKYOTO  f3df0841cd9c4b3aa4a2a7227a16a0e6

                             uptime                       pos      cd1  \
9202414  2019-01-01 00:00:01.735285  (36.1532888,136.1927428)  Android
9202415  2019-01-01 00:00:01.782165  (35.0069566,135.6006847)  Android
9202416  2019-01-01 00:00:02.329042  (37.3287044,127.9492028)  Android
9202417  2019-01-01 00:00:03.016543   (36.8229705,127.134198)  Android
9202420  2019-01-01 00:00:08.388749  (24.9868341,121.5203789)  Android

            cd2     cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour  \
9202414   ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2019     01   01   00
9202415   ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2019     01   01   00
9202416   ko_KR  3.0.54  NaN  NaN  ...  NaN   NaN  2019     01   01   00
9202417   ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2019     01   01   00
9202420  zh_TW_     NaN  NaN  NaN  ...  NaN   NaN  2019     01   01   00

        minute     second dataVolume IDvolume
9202414     00  01.735285     858370     6364
9202415     00  01.782165
9202416     00  02.329042
9202417     00  03.016543
9202420     00  08.388749

[5 rows x 23 columns]

In [127]:
# 2019.02 ANDROID
data_android_1902['dataVolume'] = pd.Series(len(data_android_1902), index=data_android_1902.index[[0]]).copy()
data_android_1902['dataVolume'] = data_android_1902['dataVolume'].fillna('')
data_android_1902['IDvolume'] = pd.Series(len(s13), index=data_android_1902.index[[0]]).copy()
data_android_1902['IDvolume'] = data_android_1902['IDvolume'].fillna('')
print("ANDROID 2019.02: ")
print(data_android_1902.head())

ANDROID 2019.02:
             index              aid                               uid  \
11834059  27512740  ARUKUMACHIKYOTO  793b243016d9446b8375508ae2b61d55
11834061  27512743  ARUKUMACHIKYOTO  9674d6828f584cd7b8f0af2ea35d868d
11834062  27512744  ARUKUMACHIKYOTO  d5e7187ea8124be795b5f3008926e181
11834063  27512746  ARUKUMACHIKYOTO  f07f2009e29f4dbdac3bbf37225aa7f4
11834064  27512747  ARUKUMACHIKYOTO  3607d22596fd4f1f9ec2c65d8cdc85f6

                              uptime                       pos      cd1  \
11834059  2019-02-01 00:00:00.671331  (22.7612306,120.3051695)  Android
11834061  2019-02-01 00:00:00.827579  (37.5549192,139.0649942)  Android
11834062  2019-02-01 00:00:01.140216  (34.8125761,135.4970353)  Android
11834063  2019-02-01 00:00:01.636472  (34.5019084,135.7362785)  Android
11834064  2019-02-01 00:00:01.698612  (35.7591839,139.4331868)  Android

            cd2     cd3  cd4  cd5  ...  cd9  cd10  year  month  day hour  \
11834059  zh_TW  3.0.54  NaN  NaN  ...  NaN   NaN  2019     02   01   00
11834061  ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2019     02   01   00
11834062  ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2019     02   01   00
11834063  ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2019     02   01   00
11834064  ja_JP  3.0.54  NaN  NaN  ...  NaN   NaN  2019     02   01   00

         minute     second dataVolume IDvolume
11834059     00  00.671331     817097     6364
11834061     00  00.827579
11834062     00  01.140216
11834063     00  01.636472
11834064     00  01.698612

[5 rows x 23 columns]

### output all of the datasets

In [128]:
# export the file
data_ios.to_csv('ios_all.csv')
data_android.to_csv('android_all.csv')
data_ios_1809.to_csv('ios_1809.csv')
data_ios_1810.to_csv('ios_1810.csv')
data_ios_1811.to_csv('ios_1811.csv')
data_ios_1812.to_csv('ios_1812.csv')
data_ios_1901.to_csv('ios_1901.csv')
data_ios_1902.to_csv('ios_1902.csv')
data_android_1809.to_csv('android_1809.csv')
data_android_1810.to_csv('android_1810.csv')
data_android_1811.to_csv('android_1811.csv')
data_android_1812.to_csv('android_1812.csv')
data_android_1901.to_csv('android_1901.csv')
data_android_1902.to_csv('android_1902.csv')